[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "public"]
	path = public
	url = git@github.com:seemiller/seemiller.github.io.git
	branch = main
